@import '~@fortawesome/fontawesome-free/css/all.css';

html,
body {
    height: 100%;
}

body,
p {
    margin: 0 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

i.fa,
i.fas {
    margin-right: 5px;
}

.md-editor-container {
    height: 100% !important;
    min-height: 150px;
}