.message {
  max-width: 90%;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f1f1f1;


  &.user-message {
    margin-left: auto;
    background-color: #007bff;
    color: white;
    white-space: break-spaces;
    line-break: anywhere;
    max-height: min(500px, calc(100vh - 400px));
    overflow-x: auto;

    markdown {
      display: flex;
    }
  }

  &.bot-message {
    align-self: flex-start;
    background-color: #e1e1e1;
  }

  p {
    margin: 0 !important;
  }
}