<div class="tool-container">
  <div class="view-system-prompt" (click)="toggleSystemPrompt()">
    <i
      class="fa"
      [ngClass]="{
        'fa-angles-up': systemPromptShow,
        'fa-angles-down': !systemPromptShow
      }"
    ></i>
    <span> {{ systemPromptShow ? "Hide" : "Show" }} System Prompt</span>
  </div>
  <tool-system-prompt-modal
    *ngIf="systemPromptOpen"
    [tool]="tool"
    (close)="systemPromptOpen = false"
  ></tool-system-prompt-modal>
  <div class="chat-container">
    <div class="messages-container" #messagesContainer>
      <ng-container *ngFor="let response of responses$ | async; let i = index">
        <ng-container *ngIf="i > 0 || systemPromptShow">
          <app-message [response]="response" [userId]="userId"></app-message>
          <div class="message-toolbar">
            <div
              class="message-toolbar-option copy-message"
              (click)="addMessageToClipboard(response)"
            >
              <i class="fa fa-copy"></i>
              <span>Copy</span>
            </div>
            <div
              class="message-toolbar-option edit-system-prompt"
              *ngIf="i === 0 && systemPromptShow"
              (click)="systemPromptOpen = true"
            >
              <i class="fa fa-edit"></i>
              <span>Edit</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="input-container">
      <div class="message-editor-container">
        <md-editor
          [(ngModel)]="message"
          [options]="editorOptions"
          [disabled]="loading"
          [height]="'150px'"
          (keydown.enter)="sendMessage()"
          (keydown.shift.enter)="$event.preventDefault()"
          (onEditorLoaded)="onEditorLoaded($event)"
        >
        </md-editor>
      </div>
      <div class="message-actions-container">
        <div class="ai-mode-toggle" matTooltip="The underlying model that is used. Fast - GPT 3.5 vs Quality - GPT 4.0">
          <i class="fas fa-circle-info"></i>
          <span class="ai-mode-label">AI Mode:</span>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-sm btn-warning" [class.active]="modelName === 'gpt35'" (click)="modelName = 'gpt35'">
              <input type="radio" name="modelName" value="gpt35" [checked]="modelName === 'gpt35'"> Fast
            </label>
            <label class="btn btn-sm btn-warning" [class.active]="modelName === 'gpt4'" (click)="modelName = 'gpt4'">
              <input type="radio" name="modelName" value="gpt4" [checked]="modelName === 'gpt4'"> Quality
            </label>
          </div>
        </div>
        <div id="new-session" class="btn btn-sm btn-primary">
          <i class="fas fa-rotate-left"></i>
          <span>New Conversation</span>
        </div>
        <div
          class="btn btn-sm btn-success"
          [ngClass]="{
            disabled: loading
          }"
          (click)="sendMessage()"
        >
          <i
            class="fas"
            [ngClass]="{
              'fa-paper-plane': !loading,
              'fa-spinner': loading,
              'fa-spin': loading
            }"
          ></i>
          <span>Send</span>
        </div>
      </div>
    </div>
  </div>
</div>
