<div class="tool-container">
  <div class="view-system-prompt" (click)="toggleSystemPrompt()">
    <i
      class="fa"
      [ngClass]="{
        'fa-angles-up': systemPromptShow,
        'fa-angles-down': !systemPromptShow
      }"
    ></i>
    <span> {{ systemPromptShow ? "Hide" : "Show" }} System Prompt</span>
  </div>
  <tool-system-prompt-modal
    *ngIf="systemPromptOpen"
    [session]="session"
    (close)="systemPromptOpen = false"
  ></tool-system-prompt-modal>
  <div class="chat-container">
    <div class="messages-container" #messagesContainer>
      <ng-container *ngIf="responses$ | async as responses">
        <ng-container *ngFor="let response of responses; let i = index">
          <ng-container *ngIf="i > 0 || systemPromptShow">
            <div class="message-wrapper" [class.user]="!!response.userId">
              <response-message
                [response]="response"
                [userId]="userId"
              ></response-message>
              <div class="message-toolbar">
                <div
                  class="message-toolbar-option copy-message"
                  (click)="addMessageToClipboard(response)"
                >
                  <i class="fa fa-copy"></i>
                  <span>Copy</span>
                </div>
                <div
                  class="message-toolbar-option edit-system-prompt"
                  *ngIf="i === 0 && systemPromptShow && responses.length <= 1"
                  (click)="systemPromptOpen = true"
                >
                  <i class="fa fa-edit"></i>
                  <span>Edit</span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <div class="input-container">
      <div class="message-editor-container">
        <md-editor
          [(ngModel)]="message"
          [options]="editorOptions"
          [disabled]="loading"
          [height]="'150px'"
          (keydown.enter)="sendMessage(message)"
          (keydown.shift.enter)="$event.preventDefault()"
          (onEditorLoaded)="onEditorLoaded($event)"
        >
        </md-editor>
      </div>
      <div class="message-actions-container">
        <div
          id="related-tools"
          class="tool-action">
          <div class="related-tools-dropdown" *ngIf="tool && getValues(tool.relatedTools).length > 0">
            <button class="related-tools-btn"
            (click)="toggleRelatedTools($event)">
              Related Tools
              <i class="fas fa-caret-down"></i>
            </button>
            <div class="related-tools-content" [class.show]="showRelatedTools" #relatedToolsContent>
              <a *ngFor="let item of tool.relatedTools | keyvalue" (click)="loadRelatedTool(item.value)">
                {{ item.key }}
              </a>
            </div>
          </div>
        </div>
        <div
          id="ai-mode-toggle"
          class="tool-action"
          matTooltip="The underlying model that is used. Fast - GPT 3.5 vs Quality - GPT 4.0"
        >
          <i class="fas fa-circle-info"></i>
          <span class="ai-mode-label">AI Mode:</span>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label
              class="btn btn-sm btn-warning"
              [class.active]="modelName === 'gpt35'"
              (click)="modelName = 'gpt35'"
            >
              <input
                type="radio"
                name="modelName"
                value="gpt35"
                [checked]="modelName === 'gpt35'"
              />
              <i class="fa fa-bolt"></i>
              <span>Fast</span>
            </label>
            <label
              class="btn btn-sm btn-warning"
              [class.active]="modelName === 'gpt40'"
              (click)="modelName = 'gpt40'"
            >
              <input
                type="radio"
                name="modelName"
                value="gpt40"
                [checked]="modelName === 'gpt40'"
              />
              <i class="fa fa-ranking-star"></i>
              <span>Quality</span>
            </label>
          </div>
        </div>
        <div class="tool-action">
          <div
            id="new-session"
            class="btn btn-sm btn-primary"
            (click)="newSession()"
          >
            <i class="fas fa-rotate-left"></i>
            <span>New Conversation</span>
          </div>
        </div>
        <div class="tool-action">
          <div
            class="btn btn-sm btn-info"
            [ngClass]="{
              disabled: (loading && !message) || message
            }"
            (click)="sendMessage('Continue')"
          >
            <i
              class="fas"
              [ngClass]="{
                'fa-angles-left': !loading,
                'fa-spinner': loading,
                'fa-spin': loading
              }"
            ></i>
            <span>Continue</span>
          </div>
        </div>
        <div class="tool-action">
          <div
            class="btn btn-md btn-success"
            [ngClass]="{
              disabled: loading || !message
            }"
            (click)="sendMessage(message)"
            >
            <i
            class="fas"
              [ngClass]="{
                'fa-send': !loading,
                'fa-spinner': loading,
                'fa-spin': loading
              }"
            ></i>
            <span>Send</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
